{% extends "lecturers/base.html" %}
{% block title %} Question List {% endblock %} 

{% load crispy_forms_tags %}
    {% block content %}
            <!-- <div class="mt-5">
                <section class="appointment">
                    <div class="container">
                        <h2 class="lined lined-center text-center"> add a question:: {{ teacher.name }} </h2>
                        <p class="text-muted mb-4 text-center">Nulla tristique ipsum in quam. Integer ac elit. Duis turpis faucibus non</p>
                        <div class="row">
                        <div class="col-md-12 col-lg-7 mx-auto">
                            <div class="card border-0 shadow-sm">
                            <div class="card-body border-top border-md border-primary p-5">
                                    <form method="POST" >
                                            {% csrf_token %}
                                            <fieldset class="form-group">
                                                {{ form|crispy }}
                                            </fieldset>
                                            <div class="form-group">
                                                <button class="btn btn-outline-info" type="submit">Register</button>
                                            </div>
                                        </form>
                                        <div class="border-top pt-3">
                                            <small class="text-muted">
                                                Already Have An Account? <a class="ml-2" href="{% url 'lecturer-login' %}">Sign In</a>
                                            </small>
                                        </div>
                            </div>
                            </div>
                        </div>
                        
                        
                    
                        
                        </div>
                    </div>
                </section>
            </div> -->
            <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">
    
                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box d-flex align-items-center justify-content-between">
                                    <h4 class="mb-0 font-size-18">Questions List</h4>
    
                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">Lecturer</a></li>
                                            <li class="breadcrumb-item active">Questions List</li>
                                        </ol>
                                    </div>
    
                                </div>
                            </div>
                        </div>
                        <!-- end page title -->
                        <div class="row">
    
                            <div class="col-xl-8">
                                <div class="card card-animate">
                                   <div class="card-body">
                                       <h4 class="card-title">See Questions </h4>
                                       <!-- <p class="card-subtitle mb-4">Textual form controls—like <code>input</code>s,<code> selects</code>, and<code> textare</code>s—are styled with the .form-control class. Included are styles for general appearance, focus state, sizing, and more. </p> -->
                                       <p class="card-subtitle mb-4">
                                            View the paper you have set up
                                        </p>

                                        <form method="POST" action="">
                                            {% csrf_token %}
                                            {{ form|crispy }}
                                            <div class="form-group">
                                                <button class="btn btn-outline-dark waves-effect text-center" type="submit"><i class="fa fa-eye"></i></button>
                                            </div>
                                        </form>
                                    
                                   </div>
                                   <!-- end card-body-->
                               </div>
                               <!-- end card -->
                
                                
                
                
                           </div> <!-- end col -->
                           </div> <!-- end ROW -->

                        <!-- <div class="row">
                           <div class="col-lg-12">
                               <div class="row">
                                   <div class="col-12 text-center">
                                       <h5 class="mb-4">{{ course }}</h5>
                                   </div>
                               </div> -->
                               
                            
                            <div class="row">
                                <div class="col-lg-12">
                                    <div id="accordion" class="custom-accordion mb-4">
                                    <div class="card mb-0 shadow-lg">
                                        <div class="card-header" id="headingOne">
                                            <h5 class="m-0 font-size-15">
                                                <a class="d-block pt-2 pb-2 text-dark" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                    {{ course }} <span class="float-right"><i class="fa fa-chevron-up accordion-arrow"></i></span>
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                            <div class="card-body">
                                                <div class="table-responsive">
                                                <table style="" class="table nowrap table-hover" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="true" data-show-refresh="true" data-key-events="true" data-show-toggle="true" data-resizable="true" data-cookie="true" data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar">

                                                    <!-- <table id="state-saving-datatable" class="table nowrap"> -->
                                                        <thead style="">
                                                            <tr>
                                                                <th> Question </th>
                                                                <th> Option 1</th>
                                                                <th> Option 2 </th>
                                                                <th> Option 3 </th>
                                                                <th> Option 4 </th>
                                                                <th> Answer </th>
                                                            </tr>
                                                        </thead>
                                                    
                                                        <tbody>
                                                            {% if questions %}
                                                            {% for question in questions %}
            
                                                                <tr class="" >
                                                                    <!-- grade, id, sid, sid_id, subject -->
                                                                    <td>{{ question.question|safe }}</td>
                                                                    <td>{{ question.option1 }}</td>
                                                                    <td>{{ question.option2 }}</td> 
                                                                    <td>{{ question.option3 }}</td>
                                                                    <td>{{ question.option4}}</td>
                                                                    <td>{{ question.answer }}</td>
                                                                     
                                                                 </tr>
                                                               {% endfor %}
                                                               {% else %}
                                                               <tr class="" >
                                                                <!-- grade, id, sid, sid_id, subject -->
                                                                <td colspan="6"><p class="text-center">No questions</p></td>
                                                                 
                                                             </tr>
                                                               
                                                               {% endif %}
                                                        </tbody>
                                                        
            
                                                    </table>
                                                </div>
                                                <!-- {% if questions %}
                                                {% for question in questions %}
                                                <table>
                                                    <thead style="">
                                                        <tr>
                                                            <th> Question </th>
                                                            <th> Option 1</th>
                                                            <th> Option 2 </th>
                                                            <th> Option 3 </th>
                                                            <th> Option 4 </th>
                                                            <th> Answer </th>
                                                        </tr>
                                                    </thead>

                                                <tbody>


                                                    <tr class="" >
                                                        <!-- grade, id, sid, sid_id, subject 
                                                        <td>{{ question.question|safe }}</td>
                                                        <td>{{ question.option1 }}</td>
                                                        <td>{{ question.option2 }}</td> 
                                                        <td>{{ question.option3 }}</td>
                                                        <td>{{ question.option4}}</td>
                                                        <td>{{ question.answer }}</td>
                                                         
                                                     </tr>
                                              
                                                </tbody>
                                                    {% endfor %}
                                                    {% else %}
                                                    <p class="text-center">No questions</p>
                                                    {% endif %}
                                            </table> -->
                                                <!-- <h6>{{ question.question|safe }}</h6>

                                                <ul class="question-list">
                                                    <li>A. {{ question.option1 }}</li>
                                                    <li>B. {{ question.option2 }}</li>
                                                    <li>C. {{ question.option3 }}</li>
                                                    <li>D. {{ question.option4 }}</li>
                                                    <li>
                                                        Answer: {{ question.answer }}
                                                    </li>
                                                </ul> -->
                                                
                                            </div>
                                        </div>
                                    </div> <!-- end card-->
                                </div>
                                </div>
                            </div>
                            
<!--                         
                           </div>
                        </div> -->
                        
    
                    </div> <!-- container-fluid -->
                </div>
                <!-- End Page-content -->
    
                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6">
                                &copy; <script>document.write(new Date().getFullYear());</script>,&nbsp;CCU.
                            </div>
                            <div class="col-sm-6">
                                <div class="text-sm-right d-none d-sm-block">
                                    Designed & Developed by Pee-Gee
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
    
            </div>
            {% endblock content %}

           

            
        