{% extends "lecturers/base.html" %}
{% block title %} Student List | Dashboard {% endblock %} 
{% load crispy_forms_tags %}
    {% block content %}
            <!-- <div class="mt-5">
                <section class="appointment">
                    <div class="container">
                        <h2 class="lined lined-center text-center"> add a question:: {{ teacher.name }} </h2>
                        <p class="text-muted mb-4 text-center">Nulla tristique ipsum in quam. Integer ac elit. Duis turpis faucibus non</p>
                        <div class="row">
                        <div class="col-md-12 col-lg-7 mx-auto">
                            <div class="card border-0 shadow-sm">
                            <div class="card-body border-top border-md border-primary p-5">
                                    <form method="POST" >
                                            {% csrf_token %}
                                            <fieldset class="form-group">
                                                {{ form|crispy }}
                                            </fieldset>
                                            <div class="form-group">
                                                <button class="btn btn-outline-info" type="submit">Register</button>
                                            </div>
                                        </form>
                                        <div class="border-top pt-3">
                                            <small class="text-muted">
                                                Already Have An Account? <a class="ml-2" href="{% url 'lecturer-login' %}">Sign In</a>
                                            </small>
                                        </div>
                            </div>
                            </div>
                        </div>
                        
                        
                    
                        
                        </div>
                    </div>
                </section>
            </div> -->
            <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">
    
                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box d-flex align-items-center justify-content-between">
                                    <h4 class="mb-0 font-size-18">Students List</h4>
    
                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">Lecturer</a></li>
                                            <li class="breadcrumb-item active">Students List</li>
                                        </ol>
                                    </div>
    
                                </div>
                            </div>
                        </div>
                        <!-- end page title -->
                        <!-- <div class="row">
    
                            <div class="col-xl-7">
                                <div class="card">
                                   <div class="card-body">
                                       <h4 class="card-title">See Questions </h4>
                                       <p class="card-subtitle mb-4">
                                            View the paper you have set up
                                        </p>

                                        <form method="POST" action="">
                                            {% csrf_token %}
                                            {{ form|crispy }}
                                            <div class="form-group">
                                                <button class="btn btn-outline-info waves-effect" type="submit">View</button>
                                            </div>
                                        </form>
                                    
                                   </div>
                               </div>
                
                           </div>

                           <div class="col-lg-5">
                               <div class="row">
                                   <div class="col-12 text-center">
                                       <h5 class="mb-4">course</h5>
                                   </div>
                               </div>
                               
                             </div>
                        </div> -->

                        <div class="row">
                            <div class="col-12">
                                 <div class="card card-animate">
                                    <div class="card-body">
                                        <h4 class="card-title">All Students</h4>
                                        <p class="card-subtitle mb-4">
                                            DataTables has the option of being able to save the state of a table (its paging position, ordering state etc) so
                                            that is can be restored when the user reloads a page, or comes back to the page after visiting a sub-page. This
                                            state saving ability is enabled by the stateSave option.
                                        </p>
    
                                        <table id="state-saving-datatable" class="table dt-responsive nowrap">
                                            <thead>
                                                <tr>
                                                    <th> Student ID </th>
                                                    <th> Name </th>
                                                    <th> Department</th>
                                                    <th> Major</th>
                                                    <th> Level</th>
                                                    <th> Email</th>
                                                </tr>
                                            </thead>
                                        
                                            <tbody>

                                                    {% for student in queryset %}

                                                    <tr class="">
                                                         <td>{{ student.id}}</td>
                                                         <td>{{ student.name }}</td>
                                                         <td>{{ student.dept }}</td>
                                                         <td>{{ student.major }}</td>
                                                         <td>{{ student.level }}</td>
                                                         <td>{{ student.email }}</td>
                                                         
                                                     </tr>
                                                   {% endfor %}
                                              
                                            </tbody>
                                            
                                            
                                        </table>
    
                                    </div> <!-- end card body-->
                                </div> <!-- end card -->
                            </div><!-- end col-->
                        </div>
                        <!-- end row-->
                        
    
                    </div> <!-- container-fluid -->
                </div>
                <!-- End Page-content -->
    
                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6">
                                &copy; <script>document.write(new Date().getFullYear());</script>,&nbsp;CCU.
                            </div>
                            <div class="col-sm-6">
                                <div class="text-sm-right d-none d-sm-block">
                                    Designed & Developed by Pee-Gee
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
    
            </div>
            {% endblock content %}

           

            
        